center
    font(size="2", color="#888888")
        |  Made by 
        a(href="https://github.com/gyigi", target="_blank", style="color: inherit;"): font(color="#888888") @gyigi.
    br
    font(size="2", color="#888888") Copyright (c) 2022 
        a(href="https://github.com/gyigi", target="_blank", style="color: inherit;"): font(color="#888888") gyigi.